:root {
    --blue: #0047a5;
}

a{
    text-decoration: none;
    color: var(--blue);
}
button{
    color: var(--blue);
}
.main{
    padding: 0 2%;
    color:var(--blue);
}
/*header - footer - logo*/
.logo{
    width: 3rem;
    height: 3rem;
}
.text-logo{
    margin-left: 7px;
    font-size: 13px;
    color: var(--blue);
    font-weight: bold;
}
.ctuet{
    font-weight:bold;
}
.nav-item>a{
    color: var(--blue);
    font-weight:bold;
}
.larger-icon{
    font-size: 25px;
}
.button-footer>a{
    color: #ffffff;
}
/*content - main*/
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
}
.register-container {
    border: 2px solid #d3d3d3bb;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: auto;
    transition: box-shadow 0.3s, background-color 0.3s, transform 0.3s; /* Thêm hiệu ứng transition */

}
.register-container div{
    font-weight: bold;
    text-align: center;
    font-size: 16px; /* Kích thước chữ cố định cho màn hình lớn hơn */
}

@media (max-width: 768px) {
    .register-container div {
        font-size: 2.5vw; /* Chuyển sang sử dụng vw khi màn hình nhỏ hơn 768px */
    }
}

/* Hiệu ứng khi rê chuột vào */
.register-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05); /* Phóng to */
}

/* Hiệu ứng khi click vào */
.register-container:active {
    background-color: #f0f0f0;
    transform: scale(0.95); /* Thu nhỏ */
}

form p{
    font-size: 14px;
}
@media (max-width: 768px) {
    form p{
        font-size:2vw; /* Chuyển sang sử dụng vw khi màn hình nhỏ hơn 768px */
    }
}
.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-register button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-group{
    max-width: 500px;
}

.form-register span {
    display: inline-block; /* Đảm bảo span không bị nằm xuống dòng mới */
    margin: 5px;
}
.form-register input{
    
    margin: 5px;
}
/*login-form*/
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.img-fluid{
    opacity: 0.1;
}
.container-fluid {
    position: relative;
}

.big-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--blue); /* Màu của văn bản */
}
.ctuet {
    white-space: nowrap;
}
.responsive-image {
    width: 100%; /* Chiếm toàn bộ chiều rộng của phần tử cha */
    max-width: 600px; /* Đặt giới hạn kích thước tối đa */
}

@media (max-width: 768px) {
    .responsive-image {
        max-width: 100%; /* Đối với màn hình nhỏ hơn, sử dụng toàn bộ chiều rộng của màn hình */
    }
}


.progress-bar {
    border-radius: 0 !important;
}
.info-card {
    padding-top: 10px; /* Điều chỉnh giá trị theo mong muốn */
    padding-bottom: 10px; /* Điều chỉnh giá trị theo mong muốn */
}

/* user.profile*/

.carousel-control-prev, .carousel-control-next{
    top:50%;
    box-shadow: none;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);}
    /* Ngắn lại chiều cao của các thẻ row */
 /* Ngắn lại chiều cao của các thẻ row */
 .row {
    line-height: 0; /* Điều chỉnh giá trị tùy theo nhu cầu */
}

/* Thêm điều kiện cho màn hình lớn hơn 768px */
@media (min-width: 768px) {
    .row {
        line-height: 1.8; /* Điều chỉnh giá trị tùy theo nhu cầu */
    }
}
.pd{
    padding-left: 0;
}
.lbl-info{
    font-size: 0.9rem;
}

